---
import '../globals.css';
import BaseSEO from '@layouts/components/BaseSEO.astro';
import Navbar from '@layouts/components/navbar/Navbar'
import Footer from '@layouts/components/footer/Footer'
import Cookies from '@shared/cookies/Cookies'


interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/logo.png" />
		<!-- TODO: ADD MANIFEST LATER ON -->
		<!-- <link rel="manifest" href="/site.webmanifest" /> -->
		<meta name="generator" content={Astro.generator} />
		<BaseSEO title={title} description={description} />
	</head>
	<body>
		<div class="min-h-screen">
			<Navbar client:load/>
			<div class="pt-[96px] h-full"><slot /></div>
			<Cookies client:load/>
			<Footer client:load/>
		</div>
	</body>
</html>

